<template>
  <div class="card">
    <div class="card-content">
      <p>
        VueID3 is a responsive .mp3 tag editing tool for mobile and desktop
        devices.
      </p>
      <p>
        It works entirely on your device, making editing faster and keeping your
        data private.
      </p>

      <p>
        VueID3 uses <a href="https://vuejs.org/">Vue</a> and
        <a href="https://buefy.org/">Buefy</a>.
      </p>
      <p>
        Created by <a href="https://gitlab.com/kgrsh">@kgrsh</a> , source code
        available at
        <a href="https://gitlab.com/vueid3/vueid3.gitlab.io/"
          >gitlab.com/vueid3/vueid3.gitlab.io</a
        >.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutModal",
  components: {}
};
</script>

<style></style>
