<template>
  <a
    @click="
      clearFileList();
      $emit('click');
    "
    ><slot></slot
  ></a>
</template>

<script>
export default {
  name: "ClearButton",
  components: {},
  methods: {
    clearFileList: function() {
      this.$store.dispatch("clearFileList");
    }
  }
};
</script>

<style scoped></style>
