<template>
  <div class="card">
    <div class="card-content">
      <b-field label="Copy from" horizontal>
        <b-dropdown class="control">
          <button slot="trigger" class="button ">
            {{ fileDict[selectedFileKey].desiredFilename }}
            <svg
              style="height:1.4rem; margin-left:0.5rem; margin-right:-0.25rem;"
              viewBox="0 0 24 24"
            >
              <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
            </svg>
          </button>
          <b-dropdown-item
            v-for="key in fileList"
            :key="key"
            @click="
              selectedFileKey = key;
              selectedTags = [];
            "
            >{{ fileDict[key].desiredFilename }}
          </b-dropdown-item>
        </b-dropdown>
      </b-field>
      <b-field
        v-if="Object.keys(fileDict[selectedFileKey].tags).length !== 0"
        label="Tags to copy"
        horizontal
        class="multiline"
      >
        <b-checkbox
          v-for="key in Object.keys(fileDict[selectedFileKey].tags)"
          :key="key"
          v-model="selectedTags"
          class="is-outlined"
          :native-value="key"
        >
          {{ tagDescriptions[key] || key }} ({{
            fileDict[selectedFileKey].tags[key]
          }})
        </b-checkbox>
      </b-field>
      <b-field v-else horizontal>
        <span>
          No tags to copy!
        </span>
      </b-field>
      <b-field
        v-if="Object.keys(fileDict[selectedFileKey].tags).length !== 0"
        grouped
      >
        <div class="control is-expanded"></div>
        <button class="button is-primary is-outlined" @click="copyTags">
          Copy
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
import { tagNames, tagDescriptions, sortByKey } from "../constants.js";

export default {
  name: "CopyTagsModal",
  components: {},
  data() {
    return {
      tagDescriptions: tagDescriptions,
      tagNames: tagNames,
      selectedFileKey: sortByKey(this.$store.state.fileDict)[0],
      selectedTags: []
    };
  },
  computed: {
    fileDict() {
      return this.$store.state.fileDict;
    },
    fileList() {
      return sortByKey(this.$store.state.fileDict);
    }
  },
  methods: {
    copyTags() {
      Object.keys(this.fileDict).map(fileKey =>
        this.selectedTags.map(tag =>
          this.$store.commit("setTag", [
            fileKey,
            tag,
            this.fileDict[this.selectedFileKey]["tags"][tag]
          ])
        )
      );
      this.$store.dispatch("assignSortingKeys");
      this.$parent.close();
    }
  }
};
</script>

<style>
.field.multiline .field-body {
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}
.field.multiline .field-body .field {
  margin: 0.1rem 0.5rem;
  flex-grow: 0;
}
</style>
