<template>
  <div class="card">
    <b-modal :active.sync="isTagModalActive">
      <tag-modal :file-key="fileKey"></tag-modal>
    </b-modal>
    <b-modal :active.sync="isTrackModalActive" has-modal-card>
      <track-modal :file-key="fileKey"></track-modal>
    </b-modal>
    <header class="card-header">
      <div
        class="card-header-title box clickable"
        title="Set track number"
        @click="isTrackModalActive = true"
      >
        <p>
          {{
            entry.tags && entry.tags["TRCK"]
              ? parseInt(entry.tags["TRCK"])
              : "???"
          }}
          / {{ fileCount }}
        </p>
      </div>
      <span
        class="card-header-title clickable"
        @click="isTagModalActive = true"
      >
        {{ entry.desiredFilename }}
      </span>
      <a href="#" class="card-header-icon" @click="save()">
        <svg style="width:1.25em;height:1.25em" viewBox="0 0 24 24">
          <path
            fill="#0A0A0A"
            fill-opacity="0.3"
            d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"
          />
        </svg>
      </a>
      <a href="#" class="card-header-icon" @click="deleteFile()">
        <svg style="width:1.25em;height:1.25em" viewBox="0 0 24 24">
          <path
            fill="#0A0A0A"
            fill-opacity="0.3"
            d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          />
        </svg>
      </a>
    </header>
    <div class="card-content" @click="isTagModalActive = true">
      <table
        v-if="entry.tags && Object.keys(entry.tags).length !== 0"
        class="table is-narrow"
      >
        <tr v-for="[tag, data] in sortTags().slice(0, 3)" :key="tag">
          <th :title="tag">{{ tagDescriptions[tag] || tag }}</th>
          <td>{{ data }}</td>
        </tr>
      </table>

      <p v-else>No tags found!</p>
    </div>
  </div>
</template>

<script>
import TagModal from "./TagModal.vue";
import TrackModal from "./TrackModal.vue";
import { saveAs } from "file-saver";
import ID3Writer from "browser-id3-writer";
import * as localForage from "localforage";
import { ToastProgrammatic } from "buefy";

import {
  tagTemplates,
  tagFields,
  supportedTags,
  tagLists,
  tagDescriptions,
  tagOrder
} from "../constants.js";

function prepareTag([key, data]) {
  if (Object.keys(tagFields).includes(key)) {
    return [
      key,
      { ...tagTemplates[key], ...Object.fromEntries([[tagFields[key], data]]) }
    ];
  } else if (tagLists.includes(key)) {
    return [key, [data]];
  } else {
    return [key, data];
  }
}

export default {
  name: "FileView",
  components: { TagModal, TrackModal },
  props: {
    fileKey: {
      type: String,
      default: "key"
    }
  },
  data() {
    return {
      isTrackModalActive: false,
      isTagModalActive: false,
      tagOrder: tagOrder,
      tagDescriptions: tagDescriptions
    };
  },
  computed: {
    entry() {
      return this.$store.state.fileDict[this.fileKey];
    },
    fileCount() {
      return Object.entries(this.$store.state.fileDict).length;
    }
  },
  methods: {
    deleteFile() {
      ToastProgrammatic.open({
        duration: 4000,
        message: this.entry.desiredFilename + " is removed",
        position: "is-bottom"
      });
      this.$store.dispatch("removeFile", this.fileKey);
    },
    sortTags() {
      return Object.entries(this.entry.tags).sort((fst, snd) =>
        Math.sign(
          -tagOrder.indexOf(tagDescriptions[fst[0]]) +
            tagOrder.indexOf(tagDescriptions[snd[0]])
        )
      );
    },
    save() {
      let tags = Object.entries(this.entry.tags);
      let preparedTags = tags.map(item => prepareTag(item));
      localForage.getItem(this.entry.storageKey).then(buffer => {
        const writer = new ID3Writer(buffer);
        preparedTags
          .filter(([key]) => supportedTags.includes(key))
          .map(item => writer.setFrame(...item));
        if (this.$store.state.coverArtBuffer.length !== 0) {
          writer.setFrame("APIC", {
            ...tagTemplates["APIC"],
            ...{ data: this.$store.state.coverArtBuffer }
          });
        }
        writer.addTag();
        saveAs(writer.getBlob(), this.entry.desiredFilename);
      });
    }
  }
};
</script>

<style scoped>
.card {
  flex-grow: 1;
}
.card-header-title.box {
  margin-bottom: 0;
  box-shadow: 0 0;
  border-radius: 0;
  border-right: 1px solid rgba(10, 10, 10, 0.2);
  flex: 0 0 auto;
}
.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-header-icon:hover > svg > path {
  fill-opacity: 0.5;
}
.card-header-icon {
  border-left: 1px solid rgba(10, 10, 10, 0.1);
}
.card-content p {
  text-align: center;
}
.card-header span {
  display: block;
  text-align: center;
}
.card-content {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .card {
    flex-basis: 100%;
  }
}
</style>
