<template>
  <div class="card">
    <div class="card-content">
      <b-field horizontal label="Pattern" title="Pattern">
        <b-field>
          <b-input v-model="pattern" expanded></b-input>
          <b-dropdown class="control" position="is-bottom-left">
            <button slot="trigger" class="button">
              <svg style="height:1.4em" viewBox="0 0 24 24">
                <path
                  fill="#000000"
                  d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"
                />
              </svg>
              <svg
                style="height:1.4em; margin-left:0.5rem; margin-right:-0.25rem;"
                viewBox="0 0 24 24"
              >
                <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
              </svg>
            </button>
            <b-dropdown-item
              v-for="[tag, description] in tagsWithDescriptions"
              :key="tag"
              @click="addTag(tag)"
              >{{ description }} ({{ tag }})
            </b-dropdown-item>
          </b-dropdown>
        </b-field>
      </b-field>
      <b-field label="Preview" horizontal>
        <b-dropdown class="control">
          <button slot="trigger" class="button ">
            {{ fileDict[selectedFileKey].desiredFilename }}
            <svg
              style="height:1.4em; margin-left:0.5rem; margin-right:-0.25rem;"
              viewBox="0 0 24 24"
            >
              <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
            </svg>
          </button>
          <b-dropdown-item
            v-for="key in fileList"
            :key="key"
            @click="
              selectedFileKey = key;
              selectedTags = [];
            "
            >{{ fileDict[key].desiredFilename }}
          </b-dropdown-item>
        </b-dropdown>
      </b-field>
      <b-field horizontal label="" title="Pattern">
        <table class="table">
          <tr v-for="[tag, data] in parseFilename(selectedFileKey)" :key="tag">
            <th>{{ tagDescriptions[tag] || tag }}</th>
            <td>{{ data }}</td>
          </tr>
        </table>
      </b-field>

      <b-field grouped>
        <div class="control is-expanded" position="is-top-right"></div>
        <button class="button is-primary is-outlined" @click="convertFilename">
          Convert
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
import {
  tagNames,
  tagDescriptions,
  supportedTags,
  sortByKey,
  tagsWithDescriptions
} from "../constants.js";

export default {
  name: "FilenameToTagModal",
  components: {},
  props: {},
  data() {
    return {
      pattern: "{TRCK} - {TIT2}",
      tagNames: tagNames,
      supportedTags: supportedTags,
      tagDescriptions: tagDescriptions,
      tagsWithDescriptions: [["DISCARD", "discard"]].concat(
        tagsWithDescriptions
      ),
      selectedFileKey: sortByKey(this.$store.state.fileDict)[0]
    };
  },
  computed: {
    fileDict() {
      return this.$store.state.fileDict;
    },
    fileList() {
      return sortByKey(this.$store.state.fileDict);
    }
  },
  methods: {
    addTag(tag) {
      this.pattern = this.pattern + "{" + tag + "}";
    },
    parseFilename(fileKey) {
      let escapedPattern = (this.pattern + ".{DISCARD}$").replace(
        /[/\\*+?.()|[\]{}]/g,
        "\\$&"
      );
      let fields = Array.from(
        escapedPattern.matchAll(RegExp("\\{(.*?)\\\\}", "g"))
      ).map(e => e[1]);
      let createdRegex =
        "^" +
        fields.reduce(
          (acc, cur) => acc.replace("\\{" + cur + "\\}", "(.+?)"),
          escapedPattern
        ) +
        "$";
      let fileName = this.fileDict[fileKey].desiredFilename;
      let matches = Array.from(fileName.matchAll(createdRegex))[0];
      let values = matches ? matches.slice(1) : [];
      let entries = fields.map((cur, ind) => [cur, values[ind]]);
      return entries;
    },
    convertFilename() {
      Object.keys(this.fileDict).map(fileKey =>
        this.parseFilename(fileKey)
          .filter(([tag]) => supportedTags.includes(tag))
          .map(([tag, data]) =>
            this.$store.commit("setTag", [fileKey, tag, data])
          )
      );
      this.$store.dispatch("assignSortingKeys");
      this.$parent.close();
    }
  }
};
</script>

<style>
.field-label.no-top-padding {
  padding-top: 0;
}
.table {
}
</style>
