<template>
  <div id="files-view" class="is-flex">
    <FileView
      v-for="index in fileList"
      :key="index"
      :file-key="index"
    ></FileView>
  </div>
</template>

<script>
import FileView from "./FileView.vue";
import { sortByKey } from "../constants.js";

export default {
  name: "FilesView",
  components: { FileView },
  computed: {
    fileList() {
      return sortByKey(this.$store.state.fileDict);
    }
  }
};
</script>

<style scoped>
#files-view {
  padding: 0.7rem 0 0 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
</style>
