<template>
  <div class="card">
    <div class="card-content">
      <p class="image">
        <img src="help.png" alt="" />
      </p>
      <b-field grouped>
        <div class="control is-expanded"></div>
        <button class="button is-primary is-outlined" @click="setCookie">
          Do not show this message again
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutModal",
  components: {},
  methods: {
    setCookie() {
      this.$parent.close();
      document.cookie = "seen=1";
    }
  }
};
</script>

<style>
p.image {
  margin: 2rem 0;
}
</style>
