<template>
  <nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand">
      <span class="navbar-item">VueID3 </span>
      <a
        role="button"
        class="navbar-burger"
        :class="{ 'is-active': burgerOpen }"
        @click="burgerOpen ^= true"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div
      id="my-navbar-menu"
      class="navbar-menu"
      :class="{ 'is-active': burgerOpen }"
    >
      <div class="navbar-end" @click="burgerOpen = false">
        <slot></slot>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  components: {},
  data: function() {
    return {
      burgerOpen: false
    };
  }
};
</script>

<style scoped>
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: initial;
}
</style>
