<template>
  <a
    @click="
      $refs.fileInput.click();
      $emit('click');
    "
    ><slot></slot
    ><input
      ref="fileInput"
      multiple
      type="file"
      style="display:none"
      @input="updateFileList"
  /></a>
</template>

<script>
export default {
  name: "OpenButton",
  components: {},
  methods: {
    updateFileList: function(event) {
      this.$store.dispatch("updateFileList", Array.from(event.target.files));
    }
  }
};
</script>

<style scoped></style>
