<template>
  <a @click="save"><slot></slot></a>
</template>

<script>
import { saveAs } from "file-saver";
import ID3Writer from "browser-id3-writer";
import JSZip from "jszip";
import * as localForage from "localforage";
import { ToastProgrammatic } from "buefy";

import {
  tagTemplates,
  tagFields,
  supportedTags,
  tagLists
} from "../constants.js";

function prepareTag([key, data]) {
  if (Object.keys(tagFields).includes(key)) {
    return [
      key,
      { ...tagTemplates[key], ...Object.fromEntries([[tagFields[key], data]]) }
    ];
  } else if (tagLists.includes(key)) {
    return [key, [data]];
  } else {
    return [key, data];
  }
}

export default {
  name: "SaveButton",
  components: {},
  methods: {
    save: function() {
      let fileDict = this.$store.state.fileDict;
      let fileKeys = Object.keys(fileDict);
      let zip = new JSZip();
      ToastProgrammatic.open({
        duration: 10000,
        message: "Generating zip file now. This might take a few seconds...",
        position: "is-bottom"
      });
      Promise.all(
        fileKeys.map(fileKey =>
          localForage.getItem(fileDict[fileKey].storageKey)
        )
      ).then(buffers => {
        buffers.map((buffer, index) => {
          const writer = new ID3Writer(buffer);
          const entry = fileDict[fileKeys[index]];
          let preparedTags = Object.entries(entry.tags).map(item =>
            prepareTag(item)
          );
          preparedTags
            .filter(([key]) => supportedTags.includes(key))
            .map(item => writer.setFrame(...item));
          if (this.$store.state.coverArtBuffer.length !== 0) {
            writer.setFrame("APIC", {
              ...tagTemplates["APIC"],
              ...{ data: this.$store.state.coverArtBuffer }
            });
          }
          writer.addTag();
          zip.file(entry.desiredFilename, writer.arrayBuffer);
        });
        zip.generateAsync({ type: "blob" }).then(e => saveAs(e, "vueid3.zip"));
      });
    }
  }
};
</script>

<style scoped></style>
