<template>
  <div class="card">
    <div class="card-content">
      <b-field horizontal label="Filename" title="Filename">
        <b-input v-model="newName" expanded></b-input>
      </b-field>
      <b-field
        v-for="key in Object.keys({ ...tagDescriptions, ...entry.tags })"
        :key="key"
        horizontal
        :label="tagDescriptions[key] || key"
        :title="key"
      >
        <b-input v-model="newTags[key]" expanded></b-input>
      </b-field>
      <b-field grouped>
        <b-dropdown class="control is-expanded" position="is-top-right">
          <button slot="trigger" class="button">
            Add tag
            <svg
              style="height:1.4rem; margin-left:0.5rem; margin-right:-0.25rem;"
              viewBox="0 0 24 24"
            >
              <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
            </svg>
          </button>
          <b-dropdown-item
            v-for="[tag, description] in tagsWithDescriptions"
            :key="tag"
            @click="addTag(tag)"
            >{{ description }} ({{ tag }})
          </b-dropdown-item>
        </b-dropdown>
        <button class="button is-primary is-outlined" @click="updateTags">
          Save
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
import {
  tagNames,
  tagDescriptions,
  supportedTags,
  tagsWithDescriptions
} from "../constants.js";

export default {
  name: "TagModal",
  components: {},
  props: {
    fileKey: {
      type: String,
      default: "key"
    }
  },
  data() {
    return {
      newTags: { ...this.$store.state.fileDict[this.fileKey].tags },
      newName: this.$store.state.fileDict[this.fileKey].desiredFilename,
      tagDescriptions: tagDescriptions,
      tagNames: tagNames,
      supportedTags: supportedTags,
      tagsWithDescriptions: tagsWithDescriptions
    };
  },
  computed: {
    entry() {
      return this.$store.state.fileDict[this.fileKey];
    }
  },
  methods: {
    updateTags() {
      this.newTags = Object.fromEntries(
        Object.entries(this.newTags).filter(e => e[1] !== "")
      );
      this.$store.commit("updateFileDict", [
        this.fileKey,
        "tags",
        this.newTags
      ]);
      this.$store.commit("updateFileDict", [
        this.fileKey,
        "desiredFilename",
        this.newName
      ]);
      this.$store.dispatch("assignSortingKeys");
      this.$parent.close();
    },
    addTag(tag) {
      this.$store.commit("setTag", [this.fileKey, tag, ""]);
    }
  }
};
</script>

<style>
.field-label.no-top-padding {
  padding-top: 0;
}
</style>
