<template>
  <div class="card">
    <div class="card-content">
      <b-field horizontal label="Pattern" title="Pattern">
        <b-field>
          <b-input v-model="pattern" expanded></b-input>
          <b-dropdown class="control" position="is-bottom-left">
            <button slot="trigger" class="button">
              <svg style="height:1.4rem" viewBox="0 0 24 24">
                <path
                  fill="#000000"
                  d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"
                />
              </svg>
              <svg
                style="height:1.4rem; margin-left:0.5rem; margin-right:-0.25rem;"
                viewBox="0 0 24 24"
              >
                <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
              </svg>
            </button>
            <b-dropdown-item
              v-for="tag in Object.keys(fileDict[selectedFileKey].tags)"
              :key="tag"
              @click="addTag(tag)"
              >{{ tagDescriptions[tag] || tag }} ({{ tag }})
            </b-dropdown-item>
          </b-dropdown>
        </b-field>
      </b-field>
      <b-field label="Preview" horizontal>
        <b-dropdown class="control">
          <button slot="trigger" class="button ">
            {{ fileDict[selectedFileKey].desiredFilename }}
            <svg
              style="height:1.4rem; margin-left:0.5rem; margin-right:-0.25rem;"
              viewBox="0 0 24 24"
            >
              <path fill="#000000" d="M7,10L12,15L17,10H7Z" />
            </svg>
          </button>
          <b-dropdown-item
            v-for="key in fileList"
            :key="key"
            @click="
              selectedFileKey = key;
              selectedTags = [];
            "
            >{{ fileDict[key].desiredFilename }}
          </b-dropdown-item>
        </b-dropdown>
      </b-field>
      <b-field horizontal label="">
        <table class="table">
          <tr>
            <th>
              New filename
            </th>
            <td>{{ constructFilename(selectedFileKey) }}</td>
          </tr>
          <tr
            v-for="[tag, data] in Object.entries(
              fileDict[selectedFileKey].tags
            )"
            :key="tag"
            @click="addTag(tag)"
          >
            <th class="clickable" :title="'Insert {' + tag + '}'">
              +
              {{ tagDescriptions[tag] || tag }}
            </th>
            <td>{{ data }}</td>
          </tr>
        </table>
      </b-field>

      <b-field grouped>
        <div class="control is-expanded"></div>
        <button class="button is-primary is-outlined" @click="convertTags">
          Convert
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
import {
  tagDescriptions,
  sortByKey,
  tagsWithDescriptions
} from "../constants.js";

export default {
  name: "FilenameToTagModal",
  components: {},
  props: {},
  data() {
    return {
      pattern: "{TRCK} - {TIT2}",
      tagDescriptions: tagDescriptions,
      tagsWithDescriptions: tagsWithDescriptions,
      selectedFileKey: sortByKey(this.$store.state.fileDict)[0]
    };
  },
  computed: {
    fileDict() {
      return this.$store.state.fileDict;
    },
    fileList() {
      return sortByKey(this.$store.state.fileDict);
    }
  },
  methods: {
    addTag(tag) {
      this.pattern = this.pattern + "{" + tag + "}";
    },
    constructFilename(fileKey) {
      let fields = Array.from(
        this.pattern.matchAll(RegExp("{(.*?)}", "g"))
      ).map(e => e[1]);
      let tags = this.fileDict[fileKey].tags;
      let newFilename =
        fields.reduce(
          (acc, cur) => acc.replace("{" + cur + "}", tags[cur] || "???"),
          this.pattern
        ) + ".mp3";
      return newFilename;
    },
    convertTags() {
      Object.keys(this.fileDict).map(fileKey =>
        this.$store.commit("updateFileDict", [
          fileKey,
          "desiredFilename",
          this.constructFilename(fileKey)
        ])
      );
      this.$store.dispatch("assignSortingKeys");
      this.$parent.close();
    }
  }
};
</script>

<style scoped>
.field-label.no-top-padding {
  padding-top: 0;
}
th.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
</style>
