<template>
  <div class="card">
    <div class="card-content">
      <button
        v-for="value in createRange(fileCount, 1)"
        :key="value"
        class="button is-large"
        :class="[entry.tags['TRCK'] == value ? 'is-dark is-outlined' : '']"
        @click="updateTrackNumber(value)"
      >
        {{ value }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "TagModal",
  components: {},
  props: {
    fileKey: {
      type: String,
      default: "key"
    }
  },
  computed: {
    entry() {
      return this.$store.state.fileDict[this.fileKey];
    },
    fileCount() {
      return Object.entries(this.$store.state.fileDict).length;
    }
  },
  methods: {
    createRange(len, start) {
      return Array(len)
        .fill()
        .map((cur, idx) => idx + (start || 0));
    },
    updateTrackNumber(trackNumber) {
      this.$store.commit("setTag", [this.fileKey, "TRCK", trackNumber]);
      this.$store.dispatch("assignSortingKeys");
      this.$parent.close();
    }
  }
};
</script>

<style scoped>
.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  margin: 0.5rem;
}
</style>
