<template>
  <div
    id="app"
    @dragover="show_banner"
    @dragleave="drop_handler"
    @drop="drop_handler"
  >
    <b-modal :active.sync="isCopyTagsModalActive">
      <copy-tags-modal></copy-tags-modal>
    </b-modal>
    <b-modal :active.sync="isFilenameToTagModalActive">
      <filename-to-tag-modal></filename-to-tag-modal>
    </b-modal>
    <b-modal :active.sync="isTagToFilenameModalActive">
      <tag-to-filename-modal></tag-to-filename-modal>
    </b-modal>
    <b-modal :active.sync="isCoverArtModalActive">
      <cover-art-modal></cover-art-modal>
    </b-modal>
    <b-modal :active.sync="isAboutModalActive">
      <about-modal></about-modal>
    </b-modal>
    <b-modal :active.sync="isHelpModalActive">
      <help-modal></help-modal>
    </b-modal>
    <Navbar>
      <OpenButton
        ref="openButton"
        :class="{ hidden: fileCount === 0 }"
        class="navbar-item"
        >Open</OpenButton
      >
      <SaveButton :class="{ hidden: fileCount === 0 }" class="navbar-item"
        >Save all</SaveButton
      >
      <a
        :class="{ hidden: fileCount === 0 }"
        class="navbar-item"
        @click="isCopyTagsModalActive = true"
        >Copy tags</a
      >
      <a
        :class="{ hidden: fileCount === 0 }"
        class="navbar-item"
        @click="isFilenameToTagModalActive = true"
        >Filename to tag</a
      >
      <a
        :class="{ hidden: fileCount === 0 }"
        class="navbar-item"
        @click="isTagToFilenameModalActive = true"
        >Tag to filename</a
      >
      <a
        :class="{ hidden: fileCount === 0 }"
        class="navbar-item"
        @click="isCoverArtModalActive = true"
        >{{ isCoverArtPresent ? "Change cover art" : "Add cover art" }}</a
      >
      <ClearButton :class="{ hidden: fileCount === 0 }" class="navbar-item"
        >Clear</ClearButton
      >
      <a class="navbar-item" @click="isHelpModalActive = true">Help</a>
      <a class="navbar-item" @click="isAboutModalActive = true">About</a>
    </Navbar>
    <DropBanner v-if="dropBannerVisible"> </DropBanner>
    <FilesView></FilesView>
    <div v-if="fileCount === 0" class="upload-invitation">
      <button class="button is-primary " @click="openFiles">
        Open files
      </button>
      <span>or use drag and drop.</span>
    </div>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import OpenButton from "./components/OpenButton.vue";
import ClearButton from "./components/ClearButton.vue";
import SaveButton from "./components/SaveButton.vue";
import DropBanner from "./components/DropBanner.vue";
import FilesView from "./components/FilesView.vue";
import CopyTagsModal from "./components/CopyTagsModal.vue";
import FilenameToTagModal from "./components/FilenameToTagModal.vue";
import TagToFilenameModal from "./components/TagToFilenameModal.vue";
import CoverArtModal from "./components/CoverArtModal.vue";
import AboutModal from "./components/AboutModal.vue";
import HelpModal from "./components/HelpModal.vue";

export default {
  name: "App",
  components: {
    Navbar,
    OpenButton,
    ClearButton,
    SaveButton,
    DropBanner,
    FilesView,
    CopyTagsModal,
    FilenameToTagModal,
    TagToFilenameModal,
    CoverArtModal,
    AboutModal,
    HelpModal
  },
  data: function() {
    return {
      dropBannerVisible: false,
      isCopyTagsModalActive: false,
      isFilenameToTagModalActive: false,
      isTagToFilenameModalActive: false,
      isCoverArtModalActive: false,
      isAboutModalActive: false,
      isHelpModalActive: false,
      timer: undefined
    };
  },
  computed: {
    fileCount() {
      return Object.entries(this.$store.state.fileDict).length;
    },
    isCoverArtPresent() {
      return this.$store.state.coverArtBuffer.length !== 0;
    }
  },
  watch: {
    fileCount(newValue, oldValue) {
      if (oldValue === 0 && !document.cookie) {
        this.isHelpModalActive = true;
      }
    }
  },
  methods: {
    show_banner: function(event) {
      event.stopPropagation();
      event.preventDefault();
      event.dataTransfer.dropEffect = "move";
      this.$data.dropBannerVisible = true;
      this.$data.timer && clearTimeout(this.$data.timer);
      this.$data.timer = setTimeout(
        () => (this.$data.dropBannerVisible = false),
        100
      );
    },
    drop_handler: function(event) {
      event.stopPropagation();
      event.preventDefault();
      event.dataTransfer.dropEffect = "move";
      this.$store.dispatch(
        "updateFileList",
        Array.from(event.dataTransfer.files)
      );
    },
    openFiles: function() {
      this.$refs.openButton.$refs.fileInput.click();
    }
  }
};
</script>

<style>
html,
body,
#app {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #eee;
}
.hidden {
  display: none !important;
}
body {
  width: 100%;
  height: 100%;
}
.no-scroll-bar {
  overflow: hidden;
}
.no-scroll-bar > * {
  overflow-y: scroll;
  padding-right: 16px;
  padding-left: 8px;
  box-sizing: content-box;
}
html.is-clipped > body {
  overflow-y: hidden;
}
body * {
  box-sizing: border-box;
}
.card {
  margin: 0.7rem;
}
@media (min-width: 1024px) {
  .dropdown .dropdown-content {
    max-height: 13em;
    overflow: auto;
  }
  .modal-content {
    overflow: visible;
  }
}
.dropdown.is-mobile-modal .dropdown-menu {
  max-width: 100%;
}
.dropdown.is-mobile-modal .dropdown-content {
  overflow-x: auto;
}
.dropdown button {
  height: 100%;
}
.button {
  white-space: normal;
  height: auto;
}
.table td,
.table th,
.card-content p {
  border: 0;
  padding: 0.25rem 0.5rem;
}
p.card-header-title {
}
.table td:first-child,
.table th:first-child {
  text-align: right;
}
.modal-close {
  background-color: rgba(10, 10, 10, 0.2);
  right: 2rem;
  top: 1.5rem;
}
.modal-content {
  max-width: 60rem !important;
  max-height: 100vh;
}
.upload-invitation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-invitation * {
  margin: 1rem 0.3rem;
}

@media (min-width: 1920px) and (max-width: 2559px) {
  html {
    font-size: calc(1920% / 1600 * 100);
  }
}
@media (min-width: 2560px) and (max-width: 3439px) {
  html {
    font-size: calc(2560% / 1600 * 100);
  }
}
@media (min-width: 3440px) and (max-width: 3839px) {
  html {
    font-size: calc(3440% / 1600 * 100);
  }
}
@media (min-width: 3840px) {
  html {
    font-size: calc(3840% / 1600 * 100);
  }
}
</style>
